{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>To-Do lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
	{% bootstrap_css %}
	
</head>

<body>
<div class="container">


	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		 <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
      		</button>
      	<a class="navbar-brand" href="/">MediaTek</a>
    </div>
		
			<ul class="nav navbar-nav">
				<li><a href="#" id="new_record" data-toggle="modal" data-target="#NewRecordModal">New Record</a></li>
				<li><a href="#" id="new_artist" data-toggle="modal" data-target="#NewArtistModal">New Artist</a></li>
			</ul>
			<form class="navbar-form navbar-right" method="get" role="search" action="/search">
        		<div class="form-group">
          			<input type="text" name="q" class="form-control" placeholder="Search">
        		</div>
        		<button type="submit" class="btn btn-default">Search</button>
      		</form>
			{% if user.email %}
			   <a class="btn navbar-btn navbar-right" id="id_logout" href="{% url 'logout' %}">Log out</a>
			    <span class="navbar-text navbar-right">Logged in as {{ user.email }}</span>
			{% else %}
			    <a class="btn navbar-btn navbar-right" id="id_login" href="#">Sign in</a>
			{% endif %}
			</div>
	</nav>

  <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock %}</h1>
				{% block record_form %}
				{% endblock %}
			  </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="NewRecordModal" tabindex="-1" role="dialog" aria-labelledby="NewRecord" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NewRecord">New Record</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'new_record'  %}">
	  
		{% csrf_token %}
		  {% bootstrap_form  minimalRecordForm %}
		{% if form.errors %}
			<div class="form-group has-error">
				<div class="help-block">{{ form.text.errors }}</div>
			</div>
		{% endif %}
		 

      </div>
      <div class="modal-footer">
		 {% buttons %}
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "ok" %} Submit
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">
				{% bootstrap_icon "remove" %} Close</button>
		{% endbuttons %}
	</form>        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="NewArtistModal" tabindex="-1" role="dialog" aria-labelledby="NewArtist" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NewArtist">New Artist</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'new_artist'  %}">
	  
		{% csrf_token %}
		  {% bootstrap_form minimalArtistForm %}
		{% if form.errors %}
			<div class="form-group has-error">
				<div class="help-block">{{ form.text.errors }}</div>
			</div>
		{% endif %}
		 
	
      </div>
      <div class="modal-footer">
		 {% buttons %}
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "ok" %} Submit
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">
				{% bootstrap_icon "remove" %} Close</button>
		{% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>
   <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block extra_content %}
            {% endblock %}
        </div>
    </div>

</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="/static/accounts.js"></script>
<script src="/static/record.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script>
    /*global $, mediaTek, navigator */
    $(document).ready(function () {
        var user = "{{ user.email }}" || null;
        var token = "{{ csrf_token }}";
        var urls = {
            login: "{% url 'persona_login' %}",
            logout: "TODO",
        };
        mediaTek.Accounts.initialize(navigator, user, token, urls);
    });
</script>
</body>

</html>
